ion-toolbar.header {
  height: 300px;
}
.green_header{background: rgb(17,140,132);background: linear-gradient(90deg, rgba(17,140,132,1) 0%, rgba(21,203,187,1) 100%);height: 80px;--min-height: 80px;border-radius: 0 0 20px 20px;color: #fff;}

#progressBar {
  border: 1px solid white;
  font-size: 32px;
  border-radius: 20px;
  color: black;
  background-color: white;
  margin-left: 25%;
  position: absolute;
  margin-top: -25%;
}
h3{font-weight: 700;}
h5{font-weight: 500;}
ion-card{padding: 0px; text-align: left;}
ion-card .top_section{background: #0e1127; padding: 15px; color: #fff; margin: 0;}
ion-card .top_section h4{margin-bottom: 0px;color: #fff; font-weight: 500;}
ion-card .top_section p{color: #C0C0C0;}
ion-card .top_section h1.text_blue{margin-bottom: 0px;color: #16d4c3; text-align: right;}

ion-card .bottom_section{background: #fff; padding: 15px;}
ion-card .bottom_section ul{padding-left: 20px; margin: 0;}
ion-card .bottom_section ul li{padding: 0; margin: 0 0 10px; font-size: 16px; color: #0E1127;}

ion-slides {height: 100%;}

