<ion-header class="header-effect bar-stable">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-grid style="margin-top: 20%">
      <ion-row>
        <ion-progress-bar
          value="0.1"
          style="
            position: absolute;
            margin-bottom: -60%;
            background-color: white;
          "
        >
        </ion-progress-bar>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            id="progressBar"
            name="grid-outline"
            style="background-color: #107c76; color: white"
          ></ion-icon>
          <p>General</p>
        </ion-col>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            name="footsteps-outline"
            size="large"
          ></ion-icon>
          <p>Injury</p>
        </ion-col>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            name="reader-outline"
            size="large"
          ></ion-icon>
          <p>Plan</p>
        </ion-col>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            name="calendar-outline"
            size="large"
          ></ion-icon>
          <p>Calendar</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col size="12" class="px20">
        <h3 class="ion-text-center text-white">Thank You!</h3>
        <h5 class="ion-text-center text-white">
          We can offer you one of the following treatment plan
        </h5></ion-col
      >
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-row class="top_section">
          <ion-col size="9"
            ><h4>Self Management Plan</h4>
            <p>
              Interactive self management plan designed to help you manage your
              condition alone.
            </p>
          </ion-col>
          <ion-col size="3" class="ion-align-end">
            <h1 class="text_blue">$0</h1>
          </ion-col>
        </ion-row>
        <ion-row class="bottom_section">
          <ion-col size="12">
            <ul>
              <li>
                Instantly accessible self manage plan designed by our world
                class physios and sports medicine physicians.
              </li>
              <li>
                Progress through the plan at your own pace based on your levels
                of function and pain
              </li>
              <li>Access to our community group</li>
            </ul></ion-col
          >
        </ion-row>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-row class="top_section">
          <ion-col size="9"
            ><h3>Self Management Plan</h3>
            <p>
              Interactive self management plan designed to help you manage your
              condition alone.
            </p>
          </ion-col>
          <ion-col size="3" class="ion-align-end">
            <h1 class="text_blue">$49</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="bottom_section">
            <ul>
              <li>
                Instantly accessible self manage plan designed by our world
                class physios and sports medicine physicians.
              </li>
              <li>
                Progress through the plan at your own pace based on your levels
                of function and pain
              </li>
              <li>Access to our community group</li>
            </ul></ion-col
          >
        </ion-row>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-row class="top_section">
          <ion-col size="9"
            ><h3>Self Management Plan</h3>
            <p>
              Interactive self management plan designed to help you manage your
              condition alone.
            </p>
          </ion-col>
          <ion-col size="3" class="ion-align-end">
            <h1 class="text_blue">$90</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="bottom_section">
            <ul>
              <li>
                Instantly accessible self manage plan designed by our world
                class physios and sports medicine physicians.
              </li>
              <li>
                Progress through the plan at your own pace based on your levels
                of function and pain
              </li>
              <li>Access to our community group</li>
            </ul></ion-col
          >
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <!-- home.page.html -->
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
