<ion-header class="header-effect bar-stable">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-grid class="mt20">
      <ion-progress-bar value="0.1" style="position: absolute">
      </ion-progress-bar>
      <ion-row>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            id="progressBar"
            name="grid-outline"
            class="active"
          ></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            name="footsteps-outline"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            name="reader-outline"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            name="calendar-outline"
            size="large"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="ion-text-center gray_color">General</ion-col>
        <ion-col size="3" class="ion-text-center gray_color">Injury</ion-col>
        <ion-col size="3" class="ion-text-center gray_color">Plan</ion-col>
        <ion-col size="3" class="ion-text-center gray_color">Calendar</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4 class="ion-text-center mt50">
    Let's add your current <br />
    measurements
  </h4>
  <ion-grid>
    <h4>Height</h4>
    <ion-row class="row">
      <ion-col size="8">
        <ion-range
          class="p0"
          min="100"
          max="230"
          pin="true"
          [(ngModel)]="heightVal"
        >
          <ion-text slot="start">100</ion-text>
          <ion-text slot="end">230</ion-text>
        </ion-range>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <b> {{ heightVal }} cm</b>
        </ion-card>
      </ion-col>
    </ion-row>

    <h4>Weight</h4>
    <ion-row class="row">
      <ion-col size="8">
        <ion-range
          class="p0"
          min="40"
          max="250"
          pin="true"
          [(ngModel)]="weightVal"
        >
          <ion-text slot="start">40</ion-text>
          <ion-text slot="end">250</ion-text>
        </ion-range>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <b> {{ weightVal }} kg</b>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="mt50">
        <button
          mat-raised-button
          routerLink="../questions"
          class="continue-btn"
        >
          Continue
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
