ion-toolbar.header {
  height: 150px;
}
ion-header.header-effect {
  border-radius: 0px 0px 18px 18px;
}

ion-button.continue-btn {
  --background: #107c76;
  width: 80%;
}
#progressBar {  
width: 30px;
height: 30px;
padding: 5px;
border-radius: 50%;
color: #fff;
background: #e1e1e1;
position: absolute;
top: -20px;
display: block;
transform: translateX(-50%);
left: 50%;
}
ion-progress-bar{background: #fff; opacity: 1;}
.progress-buffer-bar {
  background: #e1e1e1;
}
#progressBar.active{  
  background: #107c76;
  }
.icon-inner, .ionicon, svg{
  width: 24px;
  height: 24px;
  margin: auto;
  margin-top: auto;
  margin-top: 2px;
}
h4{ color: #0e1127;margin: 15px 0 5px; }
ion-card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  }
  .range-knob-handle{
background: #107c76 !important;
border: solid 2px #16d5c4 !important;
}
ion-row.row{background: #f9f9f9;
border-radius: 7px;
padding: 4px 7px 0 7px;
}

ion-icon{text-align: center; margin: auto;}
.gray_color{color: #e1e1e1;}