<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Create your Optimi account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="userData" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <small>Fill All the blanks <span style="color: red">*</span></small>
      </ion-item>
      <ion-row>
        <ion-col size="12" class="relative">
          <ion-icon name="person" class="icon"></ion-icon>
          <ion-input
            formControlName="fname"
            placeholder="First Name"
            #name
            required
            ngModel
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-icon name="person" class="icon"></ion-icon>
          <ion-input
            formControlName="lname"
            inputmode="text"
            placeholder="Last Name"
            ngModel
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-icon name="mail" class="icon"></ion-icon>
          <ion-input
            formControlName="email"
            inputmode="email"
            placeholder="Email"
            required
            #email
            ngModel
          >
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-icon name="lock-closed" class="icon"></ion-icon>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Create Password (Min Length 6)"
            ngModel
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-icon name="ellipsis-horizontal-outline" class="icon"></ion-icon>
          <ion-input
            formControlName="otp"
            placeholder="Enter OTP"
            ngModel
          ></ion-input>
        </ion-col>
        <ion-col size="12" class="mt20">
          <ion-checkbox #check color="success"></ion-checkbox>
          <ion-label
            >I agree to <a href="#!">Privacy Policy</a> and
            <a href="#!">Terms of Use</a>
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-checkbox required color="success"></ion-checkbox>
          <ion-label
            >Process my health data. <a href="#!">Learn more</a></ion-label
          >
        </ion-col>
        <ion-col size="12">
          <ion-checkbox color="success"></ion-checkbox>
          <ion-label>Receive Updates</ion-label>
        </ion-col>
        <ion-col size="12">
          <button
            type="submit"
            [ngStyle]="{
              'background-color': userData.invalid ? '#73c7af' : '#006660'
            }"
            [disabled]="userData.invalid || check!.checked"
            mat-raised-button
          >
            Continue
          </button>
        </ion-col>
        <ion-col size="12">
          <h5 class="ion-text-center">
            Already have an account ?<br />
            <a routerLink="login">Sign In</a>
          </h5>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>
