
ion-input{padding: 3px 5px 2px 40px !important;}
ion-label{font-size: 13px;padding-left: 10px;text-align: left;color: #0E1127;}
ion-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  --border-radius: 2px;

}
.ng-touched:not(form)  {
  border-left: 5px solid #d61512;
}
.ng-valid:not(form)  {
  border-left: 5px solid #198754;
}
*ion-checkbox{
  border: none;
}
