<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plan">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expert">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Expert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum">
      <ion-icon name="people"></ion-icon>
      <ion-label>Forum</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="learn">
      <ion-icon name="book"></ion-icon>
      <ion-label>Learn</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
