<ion-app>
  <ion-content class="loginbg">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <ion-list>
        <ion-item>
          <div class="logo">
            <ion-img src="../../../assets/images/logo.png"></ion-img>
          </div>
        </ion-item>
        <ion-item>
          <h1 class="ion-text-center text_blue">Optimi Health</h1>
        </ion-item>
        <ion-item>
          <h5 class="ion-text-center">
            Personalized Sport and<br />
            Exerciese Medicine
          </h5>
        </ion-item>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <ion-row>
            <ion-col size="12" class="relative mt20">
              <ion-icon name="person" class="icon"></ion-icon>
              <ion-input
                id="user-Name"
                name="userName"
                placeholder="Enter user Username"
                required
                ngModel
              ></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-icon name="lock-closed" class="icon"></ion-icon>
              <ion-input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
                ngModel
              ></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-checkbox
                color="success"
                name="checkbox"
                checked="true"
                id="checkbox"
                ngModel
              ></ion-checkbox>
              <ion-label>Remember me</ion-label>
            </ion-col>

            <ion-col size="12">
              <ion-icon
                name="ellipsis-horizontal-outline"
                class="icon"
              ></ion-icon>
              <ion-input
                type="text"
                name="otp"
                placeholder="Enter your OTP"
                required
                ngModel
              ></ion-input>
            </ion-col>
            <ion-col size="12" class="mt100">
              <button type="submit" [disabled]="" mat-raised-button>
                Login Now
              </button>
            </ion-col>

            <ion-col size="12">
              <h5 class="ion-text-center">
                Don't have an account?<br />
                <a routerLink="user-registration">Register Now</a>
              </h5>
            </ion-col>
          </ion-row>
        </form>
      </ion-list>
    </form>
  </ion-content>
</ion-app>
