ion-content.loginbg{
  --background: url(../../../assets/images/loginbg.jpg) no-repeat center
    center/100%;
}
.list-md, ion-list {background: rgba(255,255,255,0.95);padding: 15px;height: 100vh;}

ion-input{padding: 3px 5px 2px 40px !important;}
ion-label{font-size: 13px;padding-left: 10px;text-align: left;color: #0E1127;}
h1{padding: 0;margin: 10px auto;color: #107c76;width: 100%; font-weight: 700;}
h5{padding: 0;margin: 10px auto;width: 100%;}
.ng-touched:not(form)  {
    border-left: 5px solid #d61512; /* red */
  }
  .ng-valid:not(form)  {
    border-left: 5px solid #198754; /* red */
  }
