ion-toolbar.header {
  --background: linear-gradient(to right, #107c76, #15c5b6);

  height: 180px;
  border-radius: 0px 0px 18px 18px;
}
ion-header.header-effect {
  border-radius: 0px 0px 18px 18px;
}
