<ion-header class="header-effect bar-stable">
  <ion-toolbar class="header">
    <ion-title></ion-title>
    <h1 style="color: white;margin: 18%;text-align: left;">Book an appointment</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png" />
      </ion-avatar>
      <ion-label>
        <a>
          <h2>Finn</h2>
          <p>Listen, I've had a pretty messed up day...</p>
        </a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
