ion-toolbar.header {
  height: 150px;
}
.card-content-ios { 
  padding: 0;
}
#progressBar {  
width: 30px;
height: 30px;
padding: 5px;
border-radius: 50%;
color: #fff;
background: #e1e1e1;
position: absolute;
top: -20px;
display: block;
transform: translateX(-50%);
left: 50%;
}
ion-progress-bar{background: #fff; opacity: 1;}
.progress-buffer-bar {
  background: #e1e1e1;
}
#progressBar.active{  
  background: #107c76;
  }
.icon-inner, .ionicon, svg{
  width: 24px;
  height: 24px;
  margin: auto;
  margin-top: auto;
  margin-top: 2px;
}
h4{color: #0e1127;margin: 15px 0 5px;}
.question_wrap{ min-height: 100px;max-height: 110px; overflow-y: auto; overflow-x: hidden; padding: 10px;}
.answer_wrap{min-height: 350px;max-height: 400px; overflow-y: auto; overflow-x: hidden; padding: 10px;float: right;  width: calc(100% - 35px);}
.answer_wrap .answer{float: right; width: calc(100% - 35px);}
.ans_icon{float: left; width: 35px; font-size: 20px;}
ion-card {background-color: #fff;border: 1px solid #eaeaea;border-radius: 8px;text-align: center;padding: 10px 0;margin: 0;}
.card-content-md {padding: 0;}
.range-knob-handle{background: #107c76 !important;border: solid 2px #16d5c4 !important;}
ion-row.row{background: #f9f9f9;border-radius: 7px;padding: 4px 7px 0 7px;}
ion-icon{text-align: center; margin: auto;}
.gray_color{color: #e1e1e1;}
button.outline{text-align: left;padding: 15px 15px;height: auto; margin-bottom: 10px;}

