<ion-header class="header-effect bar-stable">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-grid class="mt20">
      <ion-progress-bar value="0.1" style="position: absolute">
      </ion-progress-bar>
      <ion-row>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            id="progressBar"
            name="grid-outline"
            class="active"
          ></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            name="footsteps-outline"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            name="reader-outline"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-icon
            id="progressBar"
            name="calendar-outline"
            size="large"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="ion-text-center gray_color">General</ion-col>
        <ion-col size="3" class="ion-text-center gray_color">Injury</ion-col>
        <ion-col size="3" class="ion-text-center gray_color">Plan</ion-col>
        <ion-col size="3" class="ion-text-center gray_color">Calendar</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="card">
    <h4 class="ion-text-center mt20 question_wrap">
      {{ questions[0].question }}
    </h4>
    <ion-row>
      <ion-col size="12" class="m20 answer_wrap">
        <ion-card-content *ngFor="let ans of questions[0].options">
          <button
            mat-raised-button
            slot="bottom"
            class="outline"
            *ngIf="ans === 'Yes'; esle"
          >
            <ion-icon name="checkmark-outline" class="ans_icon"></ion-icon>
            {{ ans }}
          </button>
          <button
            mat-raised-button
            *ngIf="ans === 'No'"
            slot="bottom"
            class="outline"
          >
            <ion-icon name="close-outline" class="ans_icon"></ion-icon>
            <span class="answer">{{ ans }} </span>
          </button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row>
    <ion-col size="12" class="mt50">
      <button mat-raised-button routerLink="">Continue</button>
    </ion-col>
  </ion-row>
</ion-content>
