<ion-header>
  <ion-toolbar class="header">
    <ion-title class="ion-text-start"
      ><h3 class="text-white">Hi, piers!</h3>
      <p class="text-white">Welcome to the Optimi Community!</p></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="card">
    <ion-card-header class="ion-text-center">
      <img
        src="../../../assets/images/undraw_celebrating_rtuv.png"
        alt=""
        class="img"
      />
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      Our goal is to help you access the best excercise science and sports
      medicine in order to do so, we need to ask you a few questions so that we
      can personalise your programme.
      <strong>This typically takes just 5 minutes.</strong>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="12" class="ion-text-center mt50">
      <button mat-raised-button routerLink="slide-option">Let's Do It!</button>
    </ion-col>
  </ion-row>
</ion-content>
