<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
<ion-button (click)="dismissModal()">
  <p>Close</p>
</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
