/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header{position: initial;}
ion-menu-button, ion-buttons, ion-back-button{color: #fff;}
ion-toolbar {--background: rgb(17,140,132);--background: linear-gradient(90deg, rgba(17,140,132,1) 0%, rgba(21,203,187,1) 100%);height: 80px;--min-height: 80px;border-radius: 0 0 20px 20px;color: #fff;}
.toolbar-container{height: 80px !important;--min-height: 80px;}
ion-title{color: #fff; font-size: 22px;font-weight: 700;}
.danger{color: #f00;}
ion-label{vertical-align: top !important;}
.logo {text-align: center;margin: 30px auto 0;}
.logo img {max-width: 100%;max-height: 80px;}
h1{font-size: 30px !important;}
h2 {font-size: 26px !important;}
h3{font-size: 24px !important;}
h4{font-size: 20px !important;}
h5{font-size: 18px !important; color: #0E1127;}
p {padding: 0;margin: 0 auto 30px;color: #333;font-size: 18px !important;width: 100%;}
a{color: #079d95; text-decoration: none;}
a:hover{color: #107c76; text-decoration: none;}
.ml10{margin-left: 10px;}
.p0{padding: 0;}
.px20{padding-left: 20px; padding-right:20px;}
.pad20{padding: 20px;}
.mt20{margin-top: 20px;}
.mt50{margin-top: 50px;}
.mt100{margin-top: 100px;}
.relative{position: relative;}
.icon{position: absolute; left: 18px;top: 50%;transform: translateY(-50%);font-size: 20px;}

button, ion-button{background: #107c76;border-radius: 100px;display: block;width: 100%;padding: 5px 15px;height: 50px;font-size: 16px;color: #fff;font-weight: 500;cursor: pointer !important;}
button:hover, ion-button:hover{background: #006660;}

button.outline{background: #fff;border-radius: 6px;display: block;width: 100%;padding: 5px 15px;height: 50px;font-size: 16px;color: #0e1127;font-weight: 500;cursor: pointer !important; border: solid 1px #0e1127;}
button.outline:hover{background: #fff; border: solid 1px #006660; color: #006660;}

ion-item {--border-color: transparent !important;--background: transparent !important;position: relative;--border-color: transparent !important;background: transparent;}
ion-item:focus {background: transparent;}

ion-col{margin-bottom: 5px;}
ion-input{border-radius: 8px; box-shadow: 0 3px 6px #d7d7d7; padding: 3px 5px 2px 30px !important;color: #107C76 !important; font-size: 16px !important; min-height: 50px;}
ion-input:focus{border: solid 1px #107c76;color: #107c76 !important;}
ion-card.card {background-color: #fff;border: 1px solid #eaeaea;border-radius: 10px;text-align: center;padding: 10px;margin: 0; }
ion-checkbox {width: 19px;height: 19px;border-radius: 4px;--border-radius: 4px;--border-color: #107C76;}

.swiper-pagination-bullet{background: #000 !important;width: 10px;height: 10px;}
.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active{background: #107c76 !important;transform: scale(1.2);}

ion-input{
  input::placeholder {
    color:rgba(14,17,39,0.4)!important;
  }
}

@media (max-width:414px){
  ion-title{font-size: 20px;}
.logo {margin: 20px auto 0;}
.mt100{margin-top: 60px;}
h1{font-size: 30px !important;}
h2{font-size: 24px !important;}
h3{font-size: 22px !important;}
h4{font-size: 18px !important;}
h5{font-size: 16px !important;}
p{font-size: 15px !important;}
}
@media (max-width:360px){    
    .mt100{margin-top: 30px;}
}
