ion-toolbar.header {
  height: 100px;
}
.leanmore{background: #f5f5f5; padding: 20px 15px; color: #107c76; font-size: 18px;}
ion-footer{background: #f5f5f5; padding: 20px 15px; color: #107c76; font-size: 18px;}

.startExercise-btn {
  background: #16d5c4;
  padding: 15px;
  min-height: 70px;
}
.text_lg{font-size: 55px;font-weight: 700;}
text{--font-size: 55px;font-weight: 700;}


.startExercise-btn ion-icon{vertical-align: middle;}
.trophy{width:32px; height: 32px; border-radius: 50%; border: solid 3px #E3E32E;padding: 9px;  color: #E3E32E; padding: 5px;}