<ion-header [translucent]="true" class="header-effect bar-stable">
  <ion-toolbar class="header">
    <ion-buttons slot="end" name="main">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <h1>Good Morning, Peirs!</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card class="card">
    <ion-row>
      <ion-col size="12" class="ion-text-center mt50">
        <circle-progress
          [percent]="70"
          [space]="-10"
          [radius]="100"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="10"
          [outerStrokeColor]="'#107c76'"
          [innerStrokeColor]="'#e7e8ea'"
          [animation]="true"
          [animationDuration]="3000"
        ></circle-progress>
      </ion-col>
      <ion-col size="12"
        ><ion-icon name="trophy-outline" class="trophy"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-card>
  <ion-row class="ion-text-center mt50">
    <ion-col size="12">
      <button mat-raised-button class="startExercise-btn">
        <ion-icon name="play"></ion-icon> Start today's Exercise <br />
        <small> <ion-icon name="time-outline"></ion-icon> 11 min </small>
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center mt50">
    <ion-col size="12" class="ion-text-start leanmore">
      <a href="#!">Learn with Us</a>
    </ion-col>
  </ion-row>
  <!--
  <ion-modal
  [isOpen]="true"
  [swipeToClose]="true"

>
  <ng-template>
    <ion-content>Modal Content</ion-content>
  </ng-template>
</ion-modal> -->
</ion-content>
