<ion-header>
  <ion-toolbar>
    <ion-title>plan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> </ion-content>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-segment value="all">
          <ion-segment-button value="all">
            <ion-label>My Plan</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>My Progress</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-datetime></ion-datetime>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <h2>Phase Streak</h2>
      <p>Complete 3 sessions in a row to move to the next phase of your rehab plan</p>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
    <mat-horizontal-stepper>
      <mat-step>
        <ion-icon name="star"></ion-icon>
      </mat-step>
      <mat-step label="Two"></mat-step>
      <mat-step label="Three"></mat-step>
      <mat-step label="Four"></mat-step>
      <mat-step label="Five"></mat-step>
    </mat-horizontal-stepper>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
