<ion-header class="header-effect bar-stable">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-grid style="margin-top: 20%">
      <ion-row>
        <ion-progress-bar
          value="0.1"
          style="
            position: absolute;
            margin-bottom: -60%;
            background-color: white;
          "
        >
        </ion-progress-bar>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            id="progressBar"
            name="grid-outline"
            style="background-color: #107c76; color: white"
          ></ion-icon>
          <p>General</p>
        </ion-col>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            name="footsteps-outline"
            size="large"
          ></ion-icon>
          <p>Injury</p>
        </ion-col>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            name="reader-outline"
            size="large"
          ></ion-icon>
          <p>Plan</p>
        </ion-col>
        <ion-col size="3">
          <ion-icon
            id="progressBar"
            name="calendar-outline"
            size="large"
          ></ion-icon>
          <p>Calendar</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="dateTime" (ngSubmit)="onSubmit()">
    <ion-card class="card">
      <ion-row>
        <ion-col size="10" class="ion-text-start"
          ><h3>
            <ion-icon
              name="notifications"
              slot="start"
              class="bell_icon"
            ></ion-icon>
            Notify me
          </h3></ion-col
        >
        <ion-col size="2">
          <ion-toggle color="success" formControlName="notify"></ion-toggle>
        </ion-col>
      </ion-row>

      <ion-item>
        <h4 class="ion-text-start">Select Time</h4>
      </ion-item>
      <ion-item>
        <timepicker [(ngModel)]="mytime" formControlName="time"></timepicker>
      </ion-item>
      <ion-item>
        <h4 class="ion-text-start mt20">Select Day</h4>
      </ion-item>
      <ion-item>
        <ion-label>Select Day</ion-label>
        <ion-select
          multiple="true"
          placeholder="Select Day"
          formControlName="allDay"
        >
          <ion-select-option>Sunday</ion-select-option>
          <ion-select-option>Monday</ion-select-option>
          <ion-select-option>Tuesday</ion-select-option>
          <ion-select-option>Wednesday</ion-select-option>
          <ion-select-option>Thursday</ion-select-option>
          <ion-select-option>Friday</ion-select-option>
          <ion-select-option>Saturday</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-row>
      <ion-col size="12" class="mt20">
        <button mat-raised-button type="submit" class="done-btn">
          Done!
        </button></ion-col
      >
    </ion-row>
  </form>
</ion-content>
