ion-toolbar.header {
  --background: linear-gradient(to right, #107c76, #15c5b6);

  height: 180px;
  border-radius: 0px 0px 18px 18px;
}
ion-header.header-effect {
  border-radius: 0px 0px 18px 18px;
}
#progressBar {
  border: 1px solid white;
  font-size: 32px;
  border-radius: 20px;
  color: black;
  background-color: white;
  margin-left: 25%;
  position: absolute;
  margin-top: -25%;
}
.bell_icon {
  height: 30px;
  width: 30px;
  color: #107c76;
  vertical-align: middle;
}
ion-toggle.toggle-checked {
  --background: #107c76;
}
ion-button.done-btn {
  --background: #107c76;
  width: 80%;
}
